html{
    font-size: 12px;
    font-family: 'Noto Serif TC', serif;
    background-color: burlywood;
}
body{
    
}
#im{
    border: 3px solid green;
}
h2{
    text-align: center;
    
}
p{
    font-family: 'Noto Serif TC', serif;
    text-align: center;
    line-height: 2;
    border: 5px solid green;
}
.foot-links {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1.5fr;
    grid-template-rows: minmax(2px, 5px);
    list-style-type: none;
}
@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        height: 50px;
        align-items: center;
        background-color: burlywood;
    }
    
    .logo {
        display: inline-block;
    }
    .nav-links {
        margin-top: 100;
        margin-right: 80px;
        color: black;
    }
    .main-links {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        grid-row-gap: 100px;
    }
}