body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

/*
Navigation bar
*/

.topnav {
    overflow: hidden;
    background-color: #273625;
}


.menu-icon{

    width: 1.75em;
    height: 0.25em;
    background-color: black;
    margin: 0.3em 0;
    background-position: center;

}

.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 0.7em 0.8em;
    text-decoration: none;
    font-size: 1em;

}


.active {
    background-color: #336E64;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dropbtn {
    font-size: 1em;
    border: none;
    outline: none;
    color: white;
    padding: 0.7em 0.8em;
    background-color: inherit;
    font-family: inherit;
    margin-top: 0.15em;
}





.dropdown-content {
    display: none;
    position: absolute;
    background-color: #336E6A;
    min-width: 2em;
    box-shadow: 0em 0.4em 0.8em 0em rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 0.6em 0.8em;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 750px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;

    }
}

@media screen and (max-width: 750px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;  }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}



/*
Navigation bar
*/




img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 0.05em solid #666;
    margin: 0.5em 0;
}

.btn:hover {
    background: #eaeaea;
    color: #333;
}

/* Header Showcase */

#showcase #showcase2 #showcase3{
    min-height: 21.5em;
    color: #fff;
    text-align: center;
}

#logo{
    width: 6em;
    height: 5em;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

#showcase .bg-image {
    position: absolute;
    background: #333
    url("../img/Imges/Gurken.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 22.5em;
    z-index: -1;
    opacity: 0.4;
}

#showcase h1 {
    padding-top: 3em;
    padding-bottom: 0;
}

#showcase .content-wrap, #showcase2 #showcase3
#section-a .content-wrap {
    padding: 0 1.5em;
}


#showcase3 .bg-image3 {
    position: absolute;
    background: url("../img/Images/2222.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #333;
    width: 100%;
    height: 22.5em;
    z-index: -1;
    opacity: 0.4;
}
#showcase2 .bg-image2 {
    position: absolute;
    background: url("../img/Images/1111.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 22.5em;
    z-index: -1;
    opacity: 0.4;
}


/* Section A */

#section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}

/* Section B */

#section-b {
    padding: 2em 1em 1em;
}

#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

.card-content {
    padding: 1.5em;
}

/* Section C */

#section-c {
    background: #fff;
    color: #333;
    padding: 2em;
}

/* Section D / Boxes */

#section-d .box {
    padding: 2em;
    color: #fff;
}

#section-d .box:first-child {
    background: #9b7e4b;
}
#section-d .box {
    background: #3a5227;
}
/* Footer */
.footer-distributed{
	background-color: #336E6A;
	box-shadow: 0 0.05em 0.05em 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 0.8em sans-serif;
}

.footer-distributed .footer-left p{
	color:  #f2f2f2;
	font-size: 0.7em;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:0.9em;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 0.5em;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 0.3em;
	max-width: 20em;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 1.75em;
	height: 1.75em;
	background-color:  #33383b;
	border-radius: 0.1em;

	font-size: 1em;
	color: #ffffff;
	text-align: center;
	line-height: 1.75em;

	margin-left: 0.15em;
}
.cc{
    color: white;
}

.fa:hover {
    opacity: 0.7;

}

.fa-facebook{
    color: #3c5a96;

}
.fa-twitter{
    color: #59adeb;
}

.fa-linkedin{
    color: #127cb3;
}
.fa-github{
    color: #7c0f7b;
}



/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 1em;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

/* Media Queries */

@media (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    #section-a .content-text {
        columns: 1;
    }

     #section-a .content-text p {
         padding-top: 0;
     }

    .content-wrap,
    #section-b ul {
        grid-column: 2/4;
    }

    .box,
    #main-footer div {
        grid-column: span 2;
    }

    #section-b ul {
        display: flex;
        justify-content: space-around;
    }

    #section-b li {
        width: 31%;
    }

}







.dropdown{
    margin-top: -0.82em;
}






/** contact us **/

input[type=text],  textarea {
    width: 100%;
    padding: 0.6em;
    border: 0.05em solid #ccc;
    border-radius: 0.2em;
    box-sizing: border-box;
    margin-top: 0.3em;
    margin-bottom: 0.8em;
    resize: vertical;
}

input[type=submit] {
    background-color: #336E6A;
    color: white;
    padding: 0.6em 1em;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 0.25em;
    background-color: #333333;
    padding: 1em;
}




/*++++++++++++++********   Galariye      +++++++++++++**/
* {
    box-sizing: border-box;
}

.galarie {
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding: 1.6em;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 0.2em;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 0.2em;
}

.column img {
    margin-top: 0.4em;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


/************************        Sleider        ****************/
/***************** Assigment 2C **************/

.slider{
    overflow: hidden;
    height: 21.5em;
}

.slider figure div{
    width: 20%;
    float: left;
}

.slider figure img{
    width: 100%;
    float: left;
}

.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slidy infinite;
}

@keyframes slidy{
    0%{
        left: 0%
    }

    10%{
        left: 0%;
    }

    12%{
        left: -100%;
    }

    22%{
        left: -100%;
    }

    24%{
        left: -200%;
    }

    34%{
        left: -200%;
    }

    36%{
        left: -300%;
    }

    46%{
        left: -300%;
    }

    48%{
        left: -400%;
    }

    58%{
        left: -400%;
    }

    60%{
        left: -300%;
    }

    70%{
        left: -300%;
    }

    72%{
        left: -200%;
    }

    82%{
        left: -200%;
    }

    84%{
        left: -100%;
    }

    94%{
        left: -100%;
    }

    96%{
        left: 0%;
    }

    100%{
        left: 0%;
    }
}

/************************        Section-c        ****************/
#section-c {
    background: #fff;
    color: #333;
    padding: 2em;
}

/************************        Video        ****************/

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 1.5em;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/************************   Packeges             ****************/



.Wrapper1{
    padding: 0.5em;
}
.Wrapper1 > div{
    background-color: rgba(191, 112, 47, 0.9);
    padding: 1em;
}
.Wrapper1 > div:nth-child(odd){
    background-color: #ddd;
}
.Wrapper1 {
    display: grid;

    grid-template-columns: 1fr 1fr   ;
    grid-gap: 1em;

    grid-auto-rows: minmax(5em, auto);

}


/************************         Packeges       ****************/

@media screen and (max-width: 750px){
    .Wrapper1 {
        display: grid;

        grid-template-columns: 1fr    ;
        grid-gap: 1em;

        grid-auto-rows: minmax(5em, auto);

    }


}

table,th,td {
    border : 0.1em solid black;
    border-collapse: collapse;
}
th,td {
    padding: 0.25em;
    color: black;
}






#Triptable{
    text-align: center;
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0.05em solid #ddd;
    overflow-y: auto;
    margin: 0 0 1em;
}



#show{
    text-align: center;
    font-size: 2.1em;

    background-color: #bf702f;
    border: 0.15em solid #ddd;
}



.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0.05em solid #ddd;
    overflow-y: auto;
    margin: 0 0 1em;
}




tr:nth-child(even){background-color: darkseagreen}



#showcase3 .bg-image3 {
    position: absolute;
    background: #333;
    /*url("../img/Images/2222.png");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 22.5em;
    z-index: -1;
    opacity: 0.4;
    background-image: url(../img/images/2222.png);
}
#showcase2 .bg-image2 {
    position: absolute;
    background: #333;
    /*url("../img/Images/1111.png");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 22.5em;
    z-index: -1;
    opacity: 0.4;
    background-image: url(../img/images/1111.png);
}

 


.Wrapper1{
    padding: 0.5em;
}
.Wrapper1 > div{
    background-color: rgba(191, 112, 47, 0.9);
    padding: 1em;
}
.Wrapper1 > div:nth-child(odd){
    background-color: #dd610a;
}
.Wrapper1 {
    display: grid;

    grid-template-columns: 1fr 1fr   ;
    grid-gap: 1em;

    grid-auto-rows: minmax(5em, auto);

}
@media screen and (max-width: 750px){
    .Wrapper1 {
        display: grid;

        grid-template-columns: 1fr    ;
        grid-gap: 1em;

        grid-auto-rows: minmax(5em, auto);


    }



}


.boxe4:hover, .boxe3:hover, .boxe2:hover ,.boxe1:hover{
    opacity: 0.3;
    background: #dd4b39;
    color: white;
}

.boxe1, .boxe2, .boxe3 , .boxe4 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 2em;
}




.socicons-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 1em;

}
.socicons-list li {
    margin: 1em 0.5em;
}
.socicons-list li a {
    text-decoration: none;
    padding: 1em;
    font-size: 1em;
    border-radius: 50%;
    color: #fff;
    background-color: #f1f1f1;
    transition: all ease-in-out 150ms;
}
.socicons-list li a:hover {
    text-shadow: 0 0.2em 0.5em #212121;
}
.socicons-list li:nth-child(1) a {
    background-color: #3e5b98;
}
.socicons-list li:nth-child(2) a {
    background-color: #212121;
}
.socicons-list li:nth-child(3) a {
    background-color: #4da7de;
}



/***************** Assigment 2C **************/

ul.breadcrumb {
    padding: 0.5em 0.8em;
    list-style: none;
    background-color: #333333;
}
ul.breadcrumb li {
    display: inline;
    font-size: 0.9em;
}
ul.breadcrumb li+li:before {
    padding: 0.4em;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

