body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #000000;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

/*
Navigation bar
*/

.topnav {
    overflow: hidden;
    background-color: #ffffff;
}


.menu-icon{

    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    background-position: center;

}

.topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}


.active {
    background-color: #ffffff;
    color: #000000;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #000000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin-top: 3px;
}





.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #ffffff;
    color: #000000;
}

.dropdown-content a:hover {
    background-color: #ffffff;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 750px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;

    }
}

@media screen and (max-width: 750px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;  }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}



/*
Navigation bar
*/




img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

.btn {
    display: inline-block;
    background: #ffffff;
    color: #000000;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #000000;
    margin: 0.5em 0;
}

.btn:hover {
    background: #ffffff;
    color: #000000;
}

/* Header Showcase */

#showcase {
    min-height: 450px;
    color: #000000;
    text-align: center;
}

#logo{
    width: 120px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

#showcase .bg-image {
    position: absolute;
    background: #ffffff
    url("../img/Imges/Gurken.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.1;
}

#showcase h1 {
    padding-top: 100px;
    padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
    padding: 0 1.5em;
}

/* Section A */

#section-a {
    background: #ffffff;
    color: #000000;
    padding-bottom: 2em;
}

/* Section B */

#section-b {
    padding: 2em 1em 1em;
}

#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li {
    margin-bottom: 1em;
    background: #ffffff;
    color: #000000;
}

.card-content {
    padding: 1.5em;
}

/* Section C */

#section-c {
    background: #ffffff;
    color: #000000;
    padding: 2em;
}

/* Section D / Boxes */

#section-d .box {
    padding: 2em;
    color: #000000;
}

#section-d .box:first-child {
    background: #ffffff;
}
#section-d .box {
    background: #ffffff;
}
/* Footer */

#main-footer {
    padding: 2em;
    background: #ffffff;
    color: #000000;
    text-align: center;
}

#main-footer a {
    color: #000000;
    text-decoration: none;
}

/* Media Queries */

@media (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    #section-a .content-text {
        columns: 1;
    }

     #section-a .content-text p {
         padding-top: 0;
     }

    .content-wrap,
    #section-b ul {
        grid-column: 2/4;
    }

    .box,
    #main-footer div {
        grid-column: span 2;
    }

    #section-b ul {
        display: flex;
        justify-content: space-around;
    }

    #section-b li {
        width: 31%;
    }

}







.dropdown{
    margin-top: -12px;
}






/** contact us **/

input[type=text],  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #ffffff;
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ffffff;
}

.container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}




/*++++++++++++++********   Galariye      +++++++++++++**/
* {
    box-sizing: border-box;
}

.galarie {
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


/************************        Sleider        ****************/
/***************** Assigment 2C **************/

.slider{
    overflow: hidden;
    height: 450px;
}

.slider figure div{
    width: 20%;
    float: left;
}

.slider figure img{
    width: 100%;
    float: left;
}

.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slidy infinite;
}

@keyframes slidy{
    0%{
        left: 0%
    }

    10%{
        left: 0%;
    }

    12%{
        left: -100%;
    }

    22%{
        left: -100%;
    }

    24%{
        left: -200%;
    }

    34%{
        left: -200%;
    }

    36%{
        left: -300%;
    }

    46%{
        left: -300%;
    }

    48%{
        left: -400%;
    }

    58%{
        left: -400%;
    }

    60%{
        left: -300%;
    }

    70%{
        left: -300%;
    }

    72%{
        left: -200%;
    }

    82%{
        left: -200%;
    }

    84%{
        left: -100%;
    }

    94%{
        left: -100%;
    }

    96%{
        left: 0%;
    }

    100%{
        left: 0%;
    }
}

/************************        Section-c        ****************/
#section-c {
    background: #ffffff;
    color: #000000;
    padding: 2em;
}

/************************        Video        ****************/

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 30px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/************************   Packeges             ****************/



.Wrapper1{
    padding: 10px;
}
.Wrapper1 > div{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1em;
}
.Wrapper1 > div:nth-child(odd){
    background-color: #ffffff;
}
.Wrapper1 {
    display: grid;

    grid-template-columns: 1fr 1fr   ;
    grid-gap: 1em;

    grid-auto-rows: minmax(100px, auto);

}


/************************         Packeges       ****************/

@media screen and (max-width: 750px){
    .Wrapper1 {
        display: grid;

        grid-template-columns: 1fr    ;
        grid-gap: 1em;

        grid-auto-rows: minmax(100px, auto);

    }


}

table,th,td {
    border : 2px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 5px;
    color: #000000;
}





#Triptable{
    text-align: center;
    background-color: #ffffff;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #000000;
    overflow-y: auto;
    margin: 0 0 1em;
}



#show{
    text-align: center;
    font-size: 2.1em;

    background-color: #ffffff;
    border: 3px solid #000000;
}



.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #000000;
    overflow-y: auto;
    margin: 0 0 1em;
}




tr:nth-child(even){background-color: #ffffff
}


#showcase3 .bg-image3 {
    position: absolute;
    background: #ffffff url("../img/offer/111.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.4;
}
#showcase2 .bg-image2 {
    position: absolute;
    background: #ffffff url("../img/offer/222.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.4;
}



.Wrapper1{
    padding: 10px;
}
.Wrapper1 > div{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1em;
}
.Wrapper1 > div:nth-child(odd){
    background-color: #ffffff;
}
.Wrapper1 {
    display: grid;

    grid-template-columns: 1fr 1fr   ;
    grid-gap: 1em;

    grid-auto-rows: minmax(100px, auto);

}
@media screen and (max-width: 750px){
    .Wrapper1 {
        display: grid;

        grid-template-columns: 1fr    ;
        grid-gap: 1em;

        grid-auto-rows: minmax(100px, auto);


    }



}


.boxe4:hover, .boxe3:hover, .boxe2:hover ,.boxe1:hover{
    opacity: 0.7;
    background: #c6c6c6;
    color: #000000;
}

.boxe1, .boxe2, .boxe3 , .boxe4 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 2em;
}




.socicons-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 1em;

}
.socicons-list li {
    margin: 20px 10px;
}
.socicons-list li a {
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    border-radius: 50%;
    color: #000000;
    background-color: #ffffff;
    transition: all ease-in-out 150ms;
}
.socicons-list li a:hover {
    text-shadow: 0 5px 10px #ffffff;
}
.socicons-list li:nth-child(1) a {
    background-color: #ffffff;
}
.socicons-list li:nth-child(2) a {
    background-color: #ffffff;
}
.socicons-list li:nth-child(3) a {
    background-color: #ffffff;
}



/***************** Assigment 2C **************/

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #ffffff;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #000000;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #000000;
    text-decoration: underline;
}